[submodule "cbdc/lib/circomlib"]
	path = cbdc/lib/circomlib
	url = https://github.com/iden3/circomlib.git
[submodule "heimdall"]
	path = heimdall
	url = https://github.com/applied-crypto/heimdall
	branch = cbdc
